body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header */

.header {
  border: gold double;
  height: 6vh;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: gold double;
  height: 100%;
}

.navOption {
  border: red solid;
  height: 80%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1vh;
  text-decoration: inherit;
  color: black;
}

/* Home */

.homeContainer {
  border: red solid;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  font-weight: 500;
}

/* products */

.productsContainer {
  border: red solid;
  width: 96%;
  min-height: 91vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 60px;
  align-items: center;
  padding: 4vh;
}

.cardContainer {
  border: black double;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProductImage {
  height: 75%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.productTitle {
  border: red solid;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.fas {
  cursor: pointer;
}

.cartContentContainer {
  border: red solid;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.itemContainer {
  border: blue solid;
  width: 75%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}

.checkOutContainer {
  border: red solid;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checks {
  border: red solid;
  height: 50%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.totalItemsCost {
  cursor: inherit;
}

.cartItemPicture {
  border: red solid;
  width: 18%;
  height: 80%;
}

.cartItemName {
  border: red solid;
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartQuantityContainer {
  border: red solid;
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minusQuantity {
  border: red solid;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.quantityAmount {
  border: red solid;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addQuantity {
  border: red solid;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.costOfItem {
  border: red solid;
  height: 90%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
