body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header */

.header {
  border: gold double;
  height: 6vh;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: gold double;
  height: 100%;
}

.navOption {
  border: red solid;
  height: 80%;
  width: 10%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1vh;
}
/* Home */

.homeContainer {
  border: red solid;
}
